/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
ul
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  /*overflow-y: scroll;  2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */ }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: inherit; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes fall-down {
  from {
    transform: translateY(-150vh); }
  to {
    transform: none;
    opacity: 0; } }
@-moz-keyframes fall-down {
  from {
    transform: translateY(-150vh); }
  to {
    transform: none;
    opacity: 0; } }
@-o-keyframes fall-down {
  from {
    transform: translateY(-150vh); }
  to {
    transform: none;
    opacity: 0; } }
@keyframes fall-down {
  from {
    transform: translateY(-150vh); }
  to {
    transform: none;
    opacity: 0; } }
body {
  height: 100%;
  max-height: 100%;
  overflow: hidden; }

.main-container {
  width: 100%;
  height: 100vh;
  background: #060C33; }

.sparkle-1, .sparkle-2, .sparkle-3, .sparkle-4, .sparkle-5, .sparkle-6, .sparkle-7, .sparkle-8, .sparkle-9, .sparkle-10 {
  -o-animation-name: fall-down;
  -moz-animation-name: fall-down;
  -webkit-animation-name: fall-down;
  animation-name: fall-down;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  position: absolute;
  width: 10px;
  height: 10px;
  left: -10px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%; }

.sparkle-1 {
  box-shadow: 87vw 18vh 0 0 rgba(255, 255, 255, 0.7), 9vw 35vh 0 0 rgba(255, 255, 255, 0.7), 32vw 26vh 0 0 rgba(255, 255, 255, 0.7), 11vw 39vh 0 0 rgba(255, 255, 255, 0.8), 95vw 39vh 0 0 rgba(255, 255, 255, 0.8), 18vw 30vh 0 0 rgba(255, 255, 255, 0.8), 89vw 10vh 0 0 rgba(255, 255, 255, 0.9), 91vw 1vh 0 0 rgba(255, 255, 255, 0.9), 73vw 14vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -o-animation-duration: 11s;
  -moz-animation-duration: 11s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s; }

.sparkle-2 {
  box-shadow: 64vw 17vh 0 0 rgba(255, 255, 255, 0.7), 41vw 5vh 0 0 rgba(255, 255, 255, 0.7), 53vw 24vh 0 0 rgba(255, 255, 255, 0.7), 11vw 2vh 0 0 rgba(255, 255, 255, 0.8), 25vw 30vh 0 0 rgba(255, 255, 255, 0.8), 45vw 20vh 0 0 rgba(255, 255, 255, 0.8), 41vw 1vh 0 0 rgba(255, 255, 255, 0.9), 17vw 1vh 0 0 rgba(255, 255, 255, 0.9), 27vw 1vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -o-animation-duration: 13s;
  -moz-animation-duration: 13s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s; }

.sparkle-3 {
  box-shadow: 3vw 6vh 0 0 rgba(255, 255, 255, 0.7), 8vw 26vh 0 0 rgba(255, 255, 255, 0.7), 1vw 19vh 0 0 rgba(255, 255, 255, 0.7), 41vw 32vh 0 0 rgba(255, 255, 255, 0.8), 62vw 26vh 0 0 rgba(255, 255, 255, 0.8), 62vw 10vh 0 0 rgba(255, 255, 255, 0.8), 82vw 23vh 0 0 rgba(255, 255, 255, 0.9), 64vw 10vh 0 0 rgba(255, 255, 255, 0.9), 12vw 4vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -o-animation-duration: 12s;
  -moz-animation-duration: 12s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s; }

.sparkle-4 {
  box-shadow: 57vw 31vh 0 0 rgba(255, 255, 255, 0.7), 47vw 14vh 0 0 rgba(255, 255, 255, 0.7), 99vw 25vh 0 0 rgba(255, 255, 255, 0.7), 5vw 35vh 0 0 rgba(255, 255, 255, 0.8), 29vw 27vh 0 0 rgba(255, 255, 255, 0.8), 56vw 31vh 0 0 rgba(255, 255, 255, 0.8), 79vw 35vh 0 0 rgba(255, 255, 255, 0.9), 1vw 27vh 0 0 rgba(255, 255, 255, 0.9), 12vw 20vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -o-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -webkit-animation-duration: 15s;
  animation-duration: 15s; }

.sparkle-5 {
  box-shadow: 67vw 26vh 0 0 rgba(255, 255, 255, 0.7), 44vw 7vh 0 0 rgba(255, 255, 255, 0.7), 98vw 38vh 0 0 rgba(255, 255, 255, 0.7), 4vw 1vh 0 0 rgba(255, 255, 255, 0.8), 36vw 20vh 0 0 rgba(255, 255, 255, 0.8), 70vw 5vh 0 0 rgba(255, 255, 255, 0.8), 31vw 1vh 0 0 rgba(255, 255, 255, 0.9), 65vw 7vh 0 0 rgba(255, 255, 255, 0.9), 17vw 37vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -o-animation-duration: 14s;
  -moz-animation-duration: 14s;
  -webkit-animation-duration: 14s;
  animation-duration: 14s; }

.sparkle-6 {
  box-shadow: 3vw 28vh 0 0 rgba(255, 255, 255, 0.7), 53vw 6vh 0 0 rgba(255, 255, 255, 0.7), 75vw 15vh 0 0 rgba(255, 255, 255, 0.7), 91vw 18vh 0 0 rgba(255, 255, 255, 0.8), 89vw 16vh 0 0 rgba(255, 255, 255, 0.8), 27vw 30vh 0 0 rgba(255, 255, 255, 0.8), 76vw 26vh 0 0 rgba(255, 255, 255, 0.9), 25vw 24vh 0 0 rgba(255, 255, 255, 0.9), 40vw 38vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -o-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -webkit-animation-duration: 15s;
  animation-duration: 15s; }

.sparkle-7 {
  box-shadow: 17vw 30vh 0 0 rgba(255, 255, 255, 0.7), 84vw 33vh 0 0 rgba(255, 255, 255, 0.7), 32vw 12vh 0 0 rgba(255, 255, 255, 0.7), 45vw 11vh 0 0 rgba(255, 255, 255, 0.8), 65vw 17vh 0 0 rgba(255, 255, 255, 0.8), 97vw 17vh 0 0 rgba(255, 255, 255, 0.8), 40vw 19vh 0 0 rgba(255, 255, 255, 0.9), 7vw 14vh 0 0 rgba(255, 255, 255, 0.9), 64vw 17vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -o-animation-duration: 13s;
  -moz-animation-duration: 13s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s; }

.sparkle-8 {
  box-shadow: 7vw 40vh 0 0 rgba(255, 255, 255, 0.7), 1vw 17vh 0 0 rgba(255, 255, 255, 0.7), 84vw 2vh 0 0 rgba(255, 255, 255, 0.7), 56vw 37vh 0 0 rgba(255, 255, 255, 0.8), 63vw 13vh 0 0 rgba(255, 255, 255, 0.8), 43vw 2vh 0 0 rgba(255, 255, 255, 0.8), 62vw 15vh 0 0 rgba(255, 255, 255, 0.9), 18vw 15vh 0 0 rgba(255, 255, 255, 0.9), 3vw 14vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -o-animation-duration: 17s;
  -moz-animation-duration: 17s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s; }

.sparkle-9 {
  box-shadow: 22vw 21vh 0 0 rgba(255, 255, 255, 0.7), 58vw 19vh 0 0 rgba(255, 255, 255, 0.7), 100vw 38vh 0 0 rgba(255, 255, 255, 0.7), 24vw 32vh 0 0 rgba(255, 255, 255, 0.8), 28vw 12vh 0 0 rgba(255, 255, 255, 0.8), 23vw 25vh 0 0 rgba(255, 255, 255, 0.8), 54vw 37vh 0 0 rgba(255, 255, 255, 0.9), 35vw 6vh 0 0 rgba(255, 255, 255, 0.9), 99vw 11vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -o-animation-duration: 13s;
  -moz-animation-duration: 13s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s; }

.sparkle-10 {
  box-shadow: 28vw 14vh 0 0 rgba(255, 255, 255, 0.7), 65vw 19vh 0 0 rgba(255, 255, 255, 0.7), 20vw 9vh 0 0 rgba(255, 255, 255, 0.7), 20vw 35vh 0 0 rgba(255, 255, 255, 0.8), 1vw 4vh 0 0 rgba(255, 255, 255, 0.8), 93vw 36vh 0 0 rgba(255, 255, 255, 0.8), 63vw 32vh 0 0 rgba(255, 255, 255, 0.9), 39vw 36vh 0 0 rgba(255, 255, 255, 0.9), 34vw 18vh 0 0 rgba(255, 255, 255, 0.9);
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -o-animation-duration: 13s;
  -moz-animation-duration: 13s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s; }

/*# sourceMappingURL=style.css.map */
