* {
  box-sizing: border-box;
}

body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

h1 {
  color: #2E9453;
  margin: 0;
  padding-top: 7%;
  text-align: center;
  text-shadow: 1px 1px #f2f2f2;
  span {
    color: #C32A2A;
  }
}

h2 {
  color: white;
}

a {
  color: #f2f2f2;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-image: url("../img/night-sky-small.png");
  background-size: cover;

  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("../img/night-sky-small@2x.png");
  }

  @media screen and (min-width: 1024px) {
    background-image: url("../img/night-sky.png");
    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url("../img/night-sky@2x.png");
    }
  }
}

.vader-container {
  position: relative;
  height: 100%;
  width: 95%;
  margin: 0 auto;

  @media screen and (min-width: 900px) {
    width: 70%;
  }
}

.vader-head-swing {
  @include animation-name(swing);
  @include animation-iteration-count(infinite);
  @include animation-timing-function(ease-in-out);
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.vader-head, .vader-body {
  position: absolute;
  bottom: 0;
  width: auto;
  max-width: 100%;
  max-height: 80%;
  left: 50%;
  transform: translateX(-50%);
}


.audio-controls {
  position: absolute;
  top: 0;
  left: 0;

  button {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background: transparent;
    border: none;
    color: transparent;
    text-indent: -9999px;
  }

  span {
    display: block;
    color: white;
    text-indent: 0;
    font-size: 2rem;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }
}

%sparkle {
  @include animation-name(fall-down);
  @include animation-iteration-count(infinite);
  @include animation-timing-function(linear);
  position: absolute;
  width: 10px;
  height: 10px;
  left: -10px;
  bottom: 0;
  background: rgba(255,255,255,.9);
  border-radius: 50%;
}

@for $i from 1 through 10 {
  .sparkle-#{$i} {
    @extend %sparkle;
    @include add-box-shadow();
    @include animation-delay(random(10) + s);
    @include animation-duration(random(7) + 10s);
  }
}

footer {
  position: absolute;
  bottom: 0;
  text-align: right;
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  padding: 4px;
  p {
    margin: 0;
    color: #52A1D2;
  }
}